<!-- footer.ejs -->
<!-- Footer for all .ejs (html) pages (contact section) -->

<footer class="contact">
    <h3 class="heading text-center" style="color: #ffffff">CONTACT</h3>
    </br>

    <!-- Hide urls on screen size less than small -->
    <!-- Email -->
    <a href="mailto:tauepsilonkappa@umich.edu" target="_blank">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-1 text-center">
                <img src="images/contact/email.png" class="icon" alt="email">
            </div>
            <div class="d-none d-sm-block col-sm-5">
                tauepsilonkappa@umich.edu
            </div>
        </div>
    </a>

    <!-- LinkedIn -->
    <a href="https://www.linkedin.com/company/tau-epsilon-kappa" target="_blank">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-1 text-center">
                <img src="images/icons/linkedInIcon.png" class="icon" alt="linkedin">
            </div>
            <div class="d-none d-sm-block col-sm-5">
                https://www.linkedin.com/company/tau-epsilon-kappa
            </div>
        </div>
    </a>

    <!-- Github -->
    <a href="https://instagram.com/tekumich?igshid=YmMyMTA2M2Y=" target="_blank">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-1 text-center">
                <img src="images/icons/instagramIcon.png" class="icon" alt="InstagramIcon">
            </div>
            <div class="d-none d-sm-block col-sm-5">
                instagram.com/tekumich
            </div>
        </div>
    </a>

</footer>