<!-- nav_index.ejs -->
<!-- Navigation bar for index.ejs (with scrollspy) -->

<nav id="navbar" class="navbar navbar-expand-md navbar-dark sticky-top">
	<a class="navbar-brand" href="/#home">TAU EPSILON KAPPA</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse">
		<span class="navbar-toggler-icon"></span>
	</button>
    <div id="collapse" class="navbar-collapse collapse w-100 order-3">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#about us">ABOUT US</a>
			</li>
			<li class="nav-item">
                <a class="nav-link" href="#eboard">EBOARD</a>
			</li>
            <li class="nav-item">
                <a class="nav-link" href="#rush">RUSH</a>
			</li>
			<li class="nav-item">
                <a class="nav-link" href="#contact us">CONTACT US</a>
			</li>
        </ul>
    </div>
</nav>