<!-- index.ejs -->
<!-- Home page -->

<!DOCTYPE html>
<html id="home">

<head>
	<!-- Header -->
	<% include ../partials/header.ejs %>
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="10">

	<!-- Navbar -->
	<% include ../partials/nav_index.ejs %>

		<!-- Introduction -->
		<div class="container text-center content">
			<div class="row">
				<div class="col-sm-6">
					<img class="rounded" src="/images/tekPics/tekNavy.png" class="img-fluid" alt="tekAtM" width="460"
						height="260">
				</div>
				<div class="col-sm-6 align-self-center font-head" style="color: #2B3E66; padding: 20px 0px;">
					<h1 style="font-size: 3rem;"> Tau Epsilon Kappa </h1>
					<h2> Alpha Chapter </h2>
				</div>
			</div>
		</div>

		<!-- END HEADER AND STARTING IMAGE -->

		<div class="container content" id="eboard">
			<h1><span class="heading">ABOUT US</span></h1>
			<div class="description">
				<div style="background-color: white">&nbsp;</div>
				Tau Epsilon Kappa is a co-ed professional technical fraternity committed to professional technical
				development as well as the advancement of social and academic excellence among the fraternity
				brothers. We strive to provide opportunities for our members to explore their technical interests
				and further their relationships in both a
				social and professional environment. Tau Epsilon Kappa fosters members who are passionate to
				cultivate their skills to help
				better the community, as well as encourage a diverse, inclusive, and equal community.
			</div>
		</div>



		<!-- END ABOUT US -->

		<div class="container content" id="eboard">
			<h1><span class="heading">EXECUTIVE BOARD</span></h1>
		</div>

		<div style="background-color: whitesmoke">&nbsp;</div>

		<div id="eb1">
			<section class="vertical-scrolling" style="background-color: #f5f5f5">
				<div class="imgServicesContainer1">
					<div class="imgServicesBlock">
						<a href="https://www.linkedin.com/in/noah-ivers/" target="_blank" rel="noopener noreferrer"
							style="color:#808080">
							<img class="imgServices" src="/images/people/NoahIvers.jpg" alt="noah">
							<div class="gmSectionText">
								<p>Noah Ivers, President</p>
							</div>
						</a>
					</div>
					<div class="imgServicesBlock">
						<a href="https://www.linkedin.com/in/trisha-kant/" target="_blank" rel="noopener noreferrer"
							style="color:#808080">
							<img class="imgServices" src="/images/people/TrishaKant.jpg" alt="trisha">
							<div class="gmSectionText">
								<p>Trisha Kant, President</p>
							</div>
						</a>
					</div>
					<div class="imgServicesBlock">
						<a href="https://www.linkedin.com/in/esha-kaul-8153a3209/" target="_blank"
							rel="noopener noreferrer" style="color:#808080">
							<img class="imgServices" src="/images/people/EshaKaul.jpg" alt="esha">
							<div class="gmSectionText">
								<p>Esha Kaul, VP of External Affairs</p>
							</div>
						</a>
					</div>
					<div class="imgServicesBlock" style="margin-right: 50px;">
						<a href="https://www.linkedin.com/in/sebastian-roclore-0141aa1a8/" target="_blank"
							rel="noopener noreferrer" style="color:#808080">
							<img class="imgServices" src="/images/people/SebRoclore.jpg" alt="seb">
							<div class="gmSectionText">
								<p>Sebastian Roclore, VP of Internal Affairs</p>
							</div>
						</a>
					</div>
				</div>
			</section>
		</div>

		<div style="background-color: whitesmoke">&nbsp;</div>
		<div style="background-color: whitesmoke">&nbsp;</div>
		<div style="background-color: whitesmoke">&nbsp;</div>
		<div style="background-color: whitesmoke">&nbsp;</div>

		<div id="eb2">
			<section class="vertical-scrolling" style="background-color: #f5f5f5" ;>
				<div class="imgServicesContainer2">
					<div class="imgServicesBlock">
						<a href="https://www.linkedin.com/in/nicholas-dib/" target="_blank" rel="noopener noreferrer"
							style="color:#808080">
							<img class="imgServices" src="/images/people/NickDib.jpg" alt="nick">
							<div class="gmSectionText">
								<p>Nicholas Dib, VP of Membership</p>
							</div>
						</a>
					</div>
					<div class="imgServicesBlock">
						<a href="https://www.linkedin.com/in/paulhsmith/" target="_blank" rel="noopener noreferrer"
							style="color:#808080">
							<img class="imgServices" src="/images/people/PaulSmith.jpg" alt="paul">
							<div class="gmSectionText">
								<p>Paul Smith, VP of Membership</p>
							</div>
						</a>
					</div>
					<div class="imgServicesBlock">
						<a href="https://www.linkedin.com/in/kai-yamasaki-0654a7222/" target="_blank"
							rel="noopener noreferrer" style="color:#808080">
							<img class="imgServices" src="/images/people/KaiYamasaki.jpg" alt="kai">
							<div class="gmSectionText">
								<p>Kai Yamasaki, VP of Finance</p>
							</div>
						</a>
					</div>
					<div class="imgServicesBlock">
						<a href="https://www.linkedin.com/in/dvtsai/" target="_blank" rel="noopener noreferrer"
							style="color:#808080">
							<img class="imgServices" src="/images/people/DaphneTsai.jpeg" alt="daphne">
							<div class="gmSectionText">
								<p>Daphne Tsai, VP of Professional Development</p>
							</div>
						</a>
					</div>
					<div class="imgServicesBlock" style="margin-right: 50px;">
						<a href="https://www.linkedin.com/in/dexter-kennedy-508541249/" target="_blank"
							rel="noopener noreferrer" style="color:#808080">
							<img class="imgServices" src="/images/people/DexterKennedy.jpg" alt="dexter">
							<div class="gmSectionText">
								<p>Dexter Kennedy, VP of Technical Development</p>
							</div>
						</a>
					</div>
				</div>
			</section>
		</div>

		<div style="background-color: whitesmoke">&nbsp;</div>
		<div style="background-color: whitesmoke">&nbsp;</div>
		<div style="background-color: whitesmoke">&nbsp;</div>
		<div style="background-color: whitesmoke">&nbsp;</div>


		<!-- END EBOARD -->

		<div class="container content" id="rush">
			<h1><span class="heading">RUSH SCHEDULE</span></h1>
		</div>
		<div style="background-color: whitesmoke">&nbsp;</div>

		<div class="rush">

			<div class="wrapper">
				<div style="background-color: whitesmoke">&nbsp;</div>
				<div class="center-line">
					<a href="#rush" class="scroll-icon"><i class="fas fa-caret-up"></i></a>
				</div>
				<div class="row row-1">
					<section>
						<i class="icon fas fa-home"></i>
						<div class="details">
							<span class="title">Application Opens</span>
							<span>September 5th 2022</span>
						</div>
						<p>The official Tau Epsilon Kappa application opens for submissions.</p>
						<div class="bottom">
							<a href="#">Apply Here</a>
							<i></i>
						</div>
					</section>
				</div>
				<div class="row row-2">
					<section>
						<i class="icon fas fa-home"></i>
						<div class="details">
							<span class="title">Info Session</span>
							<span>September 5th 2022</span>
						</div>
						<p>An information session with the members of Tau Epsilon Kappa to get a better
							understanding of the fraternity and what it means to be a brother.</p>
						<div class="bottom">
							<a href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MmQxYnFiOWMzdnRuYTgxNWFidG1uMHBtNWMgY19kZDJsZGh2cnJlZ281OXV1MXQ1YmU3c3Exb0Bn&tmsrc=c_dd2ldhvrrego59uu1t5be7sq1o%40group.calendar.google.com"
								target="_blank">Event Invite</a>
							<i>6:30pm Union Anderson ABC</i>
						</div>
					</section>
				</div>
				<div class="row row-1">
					<section>
						<i class="icon fas fa-star"></i>
						<div class="details">
							<span class="title">Meet and Greet 1</span>
							<span>12th September 2022</span>
						</div>
						<p>The first Tau Epsilon Kappa Meet and Greet. A good chance to meet the brothers and learn
							more about TEK as a professinal fraternity.</p>
						<div class="bottom">
							<a href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MmFrM2lyaWp1dHRwazUwaHU3dGdvMjBmcGkgY19kZDJsZGh2cnJlZ281OXV1MXQ1YmU3c3Exb0Bn&tmsrc=c_dd2ldhvrrego59uu1t5be7sq1o%40group.calendar.google.com"
								target="_blank">Event Invite</a>
							<i>8:00 - 9:30pm Forum Hall, Palmer Commons</i>
						</div>
					</section>
				</div>
				<div class="row row-2">
					<section>
						<i class="icon fas fa-rocket"></i>
						<div class="details">
							<span class="title">Meet and Greet 2</span>
							<span>13th September 2022</span>
						</div>
						<p>The second Tau Epsilon Kappa Meet and Greet. A good chance to meet the brothers and learn
							more about TEK as a professinal fraternity.</p>
						<div class="bottom">
							<a href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MmlscTBsaHNyZzZuN2xhNmtua3JmN2w0YzggY19kZDJsZGh2cnJlZ281OXV1MXQ1YmU3c3Exb0Bn&tmsrc=c_dd2ldhvrrego59uu1t5be7sq1o%40group.calendar.google.com"
								target="_blank">Event Invite</a>
							<i>7:00 - 8:30pm East Room, Palmer Commons</i>
						</div>
					</section>
				</div>
				<div class="row row-1">
					<section>
						<i class="icon fas fa-globe"></i>
						<div class="details">
							<span class="title">Application Closes</span>
							<span>16th September 2022</span>
						</div>
						<p>The last day to turn in your application to Tau Epsilon Kappa.</p>
						<div class="bottom">
							<a href="#">Apply Here</a>
							<i></i>
						</div>
					</section>
				</div>
				<div class="row row-2">
					<section>
						<i class="icon fas fa-paper-plane"></i>
						<div class="details">
							<span class="title">Closed Rush</span>
							<span>21 September 2022</span>
						</div>
						<p>Rush becomes closed and invite only. Necessary information will be provided at a later
							date.</p>
						<div class="bottom">
						</div>
					</section>
				</div>
			</div>
		</div>

		<div class="container content" id="contact us">
		</div>


		<!-- Footer -->
		<% include ../partials/footer.ejs %>

</body>

</html>